@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  direction: rtl;
  /* color: var(--foreground);
  background: var(--background); */
  /* font-family: var(--font-snpro) !important; */
  /* font-family: var(--font-rubik) !important; */
  font-family: var(--font-IBM) !important;
  /* font-family: var(--font-NeoSans) !important;*/
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pure-skeleton {
  width: -webkit-fill-available;
  /* height: 200px; */
  background-image: linear-gradient(90deg, #eee 0px, #e8e7e7 200px, #eee 500px);
  background-size: 600px;
  animation-name: skeleton;
  animation-fill-mode: both;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes skeleton {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 100vw;
  }
}


.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
